<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img alt="profile image" src="/assets/images/default_profile.png"> </div>
                    <div class="text-wrapper">
                        <p class="profile-name">Nombre usuario</p>
                        <div>
                            <small class="designation text-muted">Nombre empresa</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/" routerLinkActive="active">
                <i class="mdi mdi-home"></i>
                <span class="menu-title">Titulo</span>
            </a>
        </li>






    </ul>
</nav>